.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Heading styles */
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  
  /* Search input styles */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Button styles */
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* List styles */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  
  /* Loading message styles */
  .loading {
    font-size: 16px;
    color: #007bff;
    text-align: center;
  }
  .stock-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .go-to-watchlist-button {
    background-color: rgb(3, 5, 3);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px; /* Adjust margin as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
  }


  .search-bar-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  /* Media query for screens with a maximum width of 1023px */
  @media (max-width: 1023px) {
    .search-bar-container input[type="text"] {
      font-size: 14px; /* Reduce font size for smaller screens */
    }
  }
  
  /* Media query for screens with a maximum width of 767px (commonly used for mobile devices) */
  @media (max-width: 767px) {
    .search-bar-container input[type="text"] {
      font-size: 12px; /* Further reduce font size for mobile screens */
    }
  }

  @media (max-width: 1023px) {
    .container {
      padding: 10px; /* Reduce padding for smaller screens */
    }
  
    /* Modify other styles as needed for smaller screens */
    h1 {
      font-size: 20px;
    }
  
    button {
      padding: 10px 15px;
    }
  
    li {
      padding: 5px;
    }
  }